.chat-side {
  width: 300px;
  color: $white;
  float: left;
  a {
    color: white;
  }
  .side-header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__box {
     display: flex;
     justify-content: space-between;
     width: 100%;
     font-weight: bold;
     &__user-name{
     font-weight: bold;
     font-size: 16px;
     }
     &__menu{
      display: flex;
      li{
       margin-left: 5px;
      }
      .fa{
       text-decoration: none;
       color: $white;
      }
     } 
    } 
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    &__group-list{
      margin-bottom: 40px;
     &__group{
      margin-bottom: 40px;
      &__group-name{
       font-size: 15px;
       max-width: 5px;
      }
      &__group-message{
       font-size: 11px;
      }
     }
    }
   }
 }
 
 
 
 